/*  display-role reset for older browsers */
body {
	display:flex;
	justify-content: center;
	align-content: center;
  margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Raleway', sans-serif;
}


ol, ul {
	list-style: none;
	flex-direction: row;

}
li a{
	text-align: center;
	display: flex;
	align-content: space-around;
	justify-content: center;
}

.playerCard {
	border: solid black 1.5px;
}

a {
  color: #049c3c;
  text-decoration: none;
}

a:hover {
  color: #025c23;
}
